# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.vsidx
*.lock
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.log
*.pdb
*.iobj
*.ipdb
/.vs/LightWeight_Model_Viewer/FileContentIndex/98562844-d23b-4c15-adb9-23d2682d9c9c.vsidx
/.vs/LightWeight_Model_Viewer/FileContentIndex/cbea27aa-b766-4cd0-979d-708b3ced40c5.vsidx
/.vs/LightWeight_Model_Viewer/FileContentIndex/fa7718ad-5728-442f-89ed-cb7544da08fc.vsidx
/Debug/LightWeight_Model_Viewer.vcxproj.FileListAbsolute.txt
/x64/Debug/LightWeight_Model_Viewer.vcxproj.FileListAbsolute.txt
/x64/Release/LightWeight_Model_Viewer.vcxproj.FileListAbsolute.txt

